{
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "semi": [2, "always"],
    "no-async-promise-executor": 0,
    "no-misleading-character-class": 0,
    "no-unused-vars": [
      2,
      {
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "no-useless-catch": 0,
    "no-var": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  }
}
